extends index.pug

block content

	div(class="word-selector-container")
		div(class="row justify-content-center")
			form(id="obscure-word-form", class="col-sm-10 col-md-6", action="/game/" + game._id + "/remove/")
				div(class="form-group col-sm-12 col-md-12 obscure-word-form")
					label(for="obscure-word-selector") Select obscure or offensive words to be removed
					select(multiple="true", name="word" class="form-control", id="obscure-word-selector")
						each answer in game.answers
							option= answer
					button(type="submit", class="btn btn-primary mb-2") Remove Words


	.current-game
		p.game-property= "Draft: " + game.draft
		p.game-property= "Date: " + game.date
		p.game-properties
			div answers
				ul.game-answers
				each answer in game.answers
					li.game-answer= answer
			div pangrams
				ul.game-pangrams
					each pangram in game.pangrams
						li.game-pangram= pangram